# Assgnment 1

- Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [ ]:
SELECT FIRST_NAME FROM Worker;

- Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [ ]:
SELECT DISTINCT(DEPARTMENT) FROM Worker ;

- Q-3. Write an SQL query to show the last 5 record from a table.

In [ ]:
SELECT * FROM Worker ORDER BY EmployID DESC LIMIT 5;